<template>
    <div class="w-3/4 m-auto">
        <div class="card">
            <div class="card-header">
                <a href="" @click.prevent="goToProducts">Products</a> / Create
            </div>

            <div class="card-body">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" class="input" id="name" v-model="form.product_name">
                    <span class="input-invalid" v-text="getError('product_name')"></span>
                </div>

                <div class="input-group">
                    <label for="price">price</label>
                    <input type="number" class="input" id="price" v-model="form.product_price">
                    <span class="input-invalid" v-text="getError('product_price')"></span>
                </div>

                <div class="input-group">
                    <label for="avatar">Image URL (Optional)</label>
                    <input type="text" placeholder="http://" class="input" id="avatar" v-model="form.img">
                    <span class="input-invalid" v-text="getError('img')"></span>
                </div>
            </div>

            <div class="card-footer flex justify-end">
                <button @click.prevent="goToProducts"
                        class="button mr-1 button--link">Cancel
                </button>
                <button @click.prevent="saveCustomer" class="button">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: 'EditProduct',

        data() {
            return {
                errors: [],
                form: {
                    product_name: '',
                    product_price: '',
                    img: '',
                },
            }
        },

        methods: {
            ...mapActions({
                addProduct: 'products/addProduct',
            }),

            goToProducts() {
                this.$router.push({name: 'products'})
            },

            validateForm() {
                this.errors = []

                if (this.form.product_name && this.form.product_price) {
                    return true
                }

                if (!this.form.product_name) {
                    this.errors.push({attribute: 'product_name', message: 'Product name is required'})
                }

                if (!this.form.product_price) {
                    this.errors.push({attribute: 'product_price', message: 'Product price is required'})
                }

                return false
            },

            getError(name) {
                let error = this.errors.find(error => error.attribute === name)
                if (error) {
                    return error.message
                }
            },

            saveCustomer() {
                if (!this.validateForm()) {
                    return
                }
                this.addProduct(this.form)
                this.goToProducts()
            },

        },
    }
</script>