<template>
    <div class="w-3/4 m-auto">
        <div class="card">
            <div class="card-header">
                <router-link :to="{name: 'products'}">Products</router-link> / Edit
            </div>

            <div class="card-body">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" class="input" id="name" v-model="form.product_name">
                    <span class="input-invalid" v-text="getError('product_name')"></span>
                </div>

                <div class="input-group">
                    <label for="price">price</label>
                    <input type="number" class="input" id="price" v-model="form.product_price">
                    <span class="input-invalid" v-text="getError('product_price')"></span>
                </div>

                <div class="input-group">
                    <label for="avatar">Image URL (Optional)</label>
                    <input type="text" placeholder="http://" class="input" id="avatar" v-model="form.img">
                    <span class="input-invalid" v-text="getError('img')"></span>
                </div>
            </div>

            <div class="card-footer flex justify-end">
                <router-link :to="{name: 'products'}"
                             class="button mr-1 button--link">Cancel
                </router-link>
                <button @click.prevent="saveCustomer" class="button">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'CreateProduct',

        data() {
            return {
                errors: [],
                form: {
                    product_name: '',
                    product_price: '',
                    img: '',
                },
            }
        },


        created() {
            let product = this.findProduct(this.$router.currentRoute.params.id)
            if (product) {
                for (let field in product) {
                    this.form[field] = product[field];
                }
            }
        },

        computed: mapGetters('products', ['findProduct']),

        methods: {
            ...mapActions({updateProduct: 'products/updateProduct'}),

            validateForm() {
                this.errors = []

                if (this.form.product_name && this.form.product_price) {
                    return true
                }

                if (!this.form.product_name) {
                    this.errors.push({attribute: 'product_name', message: 'Product name is required'})
                }

                if (!this.form.product_price) {
                    this.errors.push({attribute: 'product_price', message: 'Product price is required'})
                }

                return false
            },

            getError(name) {
                let error = this.errors.find(error => error.attribute === name)
                if (error) {
                    return error.message
                }
            },

            saveCustomer() {
                if (!this.validateForm()) {
                    return
                }
                this.updateProduct(this.form)
                this.$router.push({name: 'products'})
            },

        },
    }
</script>