<template>
    <paginate :listData="products">
        <template v-slot:default="{listItems}">
            <div class="card" v-if="products.length !== 0">
                <div class="w-full flex text-xs uppercase text-grey border-b border-grey-lighter px-4">
                    <div class="pl-2 py-4 w-3/5 mr-6 ">Product</div>
                    <div class="py-4 flex-1">Amount</div>
                </div>
                <div class="card-body p-4">
                    <product v-for="product in listItems"
                             :key="product.id"
                             :product="product"
                    ></product>
                </div>
            </div>
            <div class="message message--info mt-2 text-center" v-else>
                <p class="text-xl mb-2">You don't have any Products</p>
            </div>
        </template>
    </paginate>
</template>

<script>
    import {Product, Paginate} from '@/components'
    import {mapState} from 'vuex'

    export default {
        components: {
            Product,
            Paginate,
        },
        created() {
            window.events.$on('product-deleted', () => {
                this.$toasted.clear()
                this.$toasted.show(`Product was deleted`)
            })
            window.events.$on('product-created', () => {
                this.$toasted.clear()
                this.$toasted.success(`Product was added to Inventory`)
            })
            window.events.$on('product-updated', () => {
                this.$toasted.clear()
                this.$toasted.success(`Product was updated`)
            })
        },
        computed: mapState('products', {
            products: state => state.all,
        }),
    }
</script>
