<template>
    <paginate :listData="invoices">
        <template v-slot:default="{listItems}">
            <div class="card">
                <div class="card-header flex justify-between">
                    <p class="text-xl">Invoices</p>
                    <button @click="exportToCSV(csvData, 'invoices')"
                            class="button button-sm button--link">Export to CSV
                    </button>
                </div>
                <div class="w-full flex text-xs uppercase text-grey border-b border-grey-lighter px-4">
                    <div class="pl-2 py-4 w-1/2 md:w-1/5 mr-1">Invoice Number</div>
                    <div class="py-4 flex-1">Client</div>
                    <div class="py-4 w-1/6">Amount</div>
                    <div class="py-4 w-1/6">Date</div>
                </div>
                <div class="card-body p-4">
                    <invoice v-for="invoice in listItems"
                             :key="invoice.id"
                             :invoice="invoice"
                    ></invoice>
                </div>
            </div>
        </template>
    </paginate>
</template>

<script>
    import {Invoice, Paginate} from '@/components'
    import {mapState} from 'vuex'
    import exportToCSV from '@/mixins/exportToCsv'

    export default {
        mixins: [exportToCSV],
        components: {
            Invoice,
            Paginate,
        },

        computed: {
            ...mapState({
                invoices: state => state.invoices.all,
            }),
            csvData() {
                return this.invoices.map(item => ({
                    ...item,
                    // customer: 'Kimuli Siraje'
                }))
            },
        },
    }
</script>
