<template>
    <div class="card">
        <div class="card-header flex items-center">
            <div>
                <p class="text-3xl">{{invoice.invoice_no}}</p>
                <p class="mt-2">{{invoice.createdAt | humanDate}}</p>
            </div>
            <div class="ml-auto">
                <router-link class="p-2 mr-2"
                             :to="{name:'invoices-edit', params:{id:invoice.id}}">Edit</router-link>
                <button class="button button--link">Delete</button>
            </div>
        </div>
        <div class="card-body">
            <p class="uppercase mt-2 text-grey text-sm">Customer</p>
            <div v-if="customer">
                <customer :customer="customer" hide="['invoices']"></customer>
            </div>

            <p class="uppercase mt-8 text-grey text-sm">Products</p>
            <div class="group__item hover:bg-white"
                 :key="product.id"
                 v-for="product in invoice.products">
                <div class="py-4 w-4/5 flex items-center">
                    <div class="bg-grey-lighter rounded mr-2 w-10 h-10 border">
                        <img src=""
                             class="w-10 rounded current-fill text-primary-lighter float-right"
                             alt="">
                    </div>
                    <span class="font-bold">{{product.item_name}}</span>
                </div>
                <div class="py-4 1/5">UGX <strong>{{product.item_price}}</strong></div>
            </div>

        </div>
        <div class="card-footer flex justify-end">
            <div class="w-2/5 text-right pr-12">
                <p class=""><strong class="mr-2">Total Amount:</strong>UGX {{totalSum}}</p>
            </div>
        </div>
    </div>

</template>

<script>
    import {Customer} from '@/components'
    import {mapGetters} from 'vuex'

    export default {
        name: 'ShowInvoice',
        components: {
            Customer,
        },
        data() {
            return {
                invoice: null,
                customer: null,
            }
        },
        created() {
            console.log(this.findInvoice(this.$router.currentRoute.params.id))
            this.$watch('$route', () => {
                this.invoice = this.findInvoice(this.$router.currentRoute.params.id)
                this.customer = this.findCustomer(this.invoice.customerId)
            })
            this.invoice = this.findInvoice(this.$router.currentRoute.params.id)
            this.customer = this.findCustomer(this.invoice.customerId)
        },

        computed: {
            ...mapGetters('invoices', ['findInvoice']),
            ...mapGetters('customers', ['findCustomer']),
            totalSum() {
                return this.invoice.products.reduce((price, product) => {
                    return price + parseFloat(product.item_price)
                }, parseFloat(0))
            },
        },
    }
</script>
