<template>
    <div class="w-3/4 m-auto">
        <div class="card">
            <div class="card-header">
                <a href="">Customers</a> / Register
            </div>

            <div class="card-body">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" class="input" id="name" v-model="form.name">
                    <span class="input-invalid" v-text="getError('name')"></span>
                </div>

                <div class="input-group">
                    <label for="address">Address</label>
                    <input type="text" class="input" id="address" v-model="form.address">
                    <span class="input-invalid" v-text="getError('address')"></span>
                </div>

                <div class="input-group">
                    <label for="avatar">Avatar URL (Optional)</label>
                    <input type="text" placeholder="http://" class="input" id="avatar" v-model="form.avatar">
                    <span class="input-invalid" v-text="getError('avatar')"></span>
                </div>
            </div>

            <div class="card-footer flex justify-end">
                <button @click.prevent="goToCustomers"
                        class="button mr-1 button--link">Cancel
                </button>
                <button @click.prevent="saveCustomer" class="button">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: 'CreateCustomer',

        data() {
            return {
                errors: [],
                form: {
                    name: '',
                    avatar: '',
                    address: '',
                },
            }
        },

        methods: {
            ...mapActions({
                addCustomer: 'customers/addCustomer',
            }),

            goToCustomers() {
                this.$router.push({name: 'customers'})
            },

            validateForm() {
                this.errors = []

                if (this.form.name && this.form.address) {
                    return true
                }

                if (!this.form.name) {
                    this.errors.push({attribute: 'name', message: 'Name is required'})
                }

                if (!this.form.address) {
                    this.errors.push({attribute: 'address', message: 'Address is required'})
                }

                return false
            },

            getError(name) {
                let error = this.errors.find(error => error.attribute === name)
                if (error) {
                    return error.message
                }
            },

            saveCustomer() {
                if (!this.validateForm()) {
                    return
                }
                this.addCustomer(this.form)
                this.goToCustomers()
            },

        },
    }
</script>