<template>
    <div class="w-3/4 m-auto">
        <div class="card">
            <div class="card-header">
                <router-link :to="{name: 'customers'}">Customers</router-link>
                / Edit
            </div>

            <div class="card-body">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" class="input" id="name" v-model="form.name">
                    <span class="input-invalid" v-text="getError('name')"></span>
                </div>

                <div class="input-group">
                    <label for="address">Address</label>
                    <input type="text" class="input" id="address" v-model="form.address">
                    <span class="input-invalid" v-text="getError('address')"></span>
                </div>

                <div class="input-group">
                    <label for="avatar">Avatar URL (Optional)</label>
                    <input type="text" placeholder="http://" class="input" id="avatar" v-model="form.avatar">
                    <span class="input-invalid" v-text="getError('avatar')"></span>
                </div>
            </div>

            <div class="card-footer flex justify-end">
                <router-link :to="{name: 'customers'}"
                             class="button mr-1 button--link">Cancel
                </router-link>
                <button @click.prevent="saveCustomer" class="button">Save Changes</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'EditCustomer',

        data() {
            return {
                errors: [],
                form: {
                    name: '',
                    avatar: '',
                    address: '',
                },
            }
        },

        created() {
            let customer = this.findCustomer(this.$router.currentRoute.params.id)
            if (customer) {
                for (let field in customer) {
                    this.form[field] = customer[field];
                }
            }
        },

        computed: mapGetters('customers', ['findCustomer']),

        methods: {
            ...mapActions({updateCustomer: 'customers/updateCustomer'}),

            validateForm() {
                this.errors = []

                if (this.form.name && this.form.address) {
                    return true
                }

                if (!this.form.name) {
                    this.errors.push({attribute: 'name', message: 'Name is required'})
                }

                if (!this.form.address) {
                    this.errors.push({attribute: 'address', message: 'Address is required'})
                }

                return false
            },

            getError(name) {
                let error = this.errors.find(error => error.attribute === name)
                if (error) {
                    return error.message
                }
            },

            saveCustomer() {
                if (!this.validateForm()) {
                    return
                }
                this.updateCustomer(this.form)
                this.$router.push({name: 'customers'})
            },

        },
    }
</script>