<template>
    <paginate :listData="customers">
        <template v-slot:default="{listItems}">
            <div class="card" v-if="listItems.length !== 0">
                <div class="w-full flex text-xs uppercase text-grey border-b border-grey-lighter px-4">
                    <div class="pl-2 py-4 w-2/5 mr-1">Customer</div>
                    <div class="py-4 w-1/5 text-center">Invoices</div>
                    <div class="py-4">Address</div>
                </div>
                <div class="card-body p-4">
                    <customer v-for="customer in listItems"
                              :customer="customer"
                              :key="customer.id">
                    </customer>
                </div>
            </div>
            <div class="message message--info mt-2 text-center" v-else>
                <p class="text-xl mb-2">You haven't Registered any Customers</p>
            </div>
        </template>
    </paginate>
</template>

<script>
    import {Customer} from '@/components'
    import {Paginate} from '@/components'
    import {mapState, mapActions} from 'vuex'

    export default {

        components: {
            Customer,
            Paginate,
        },
        created() {
            window.events.$on('customer-deleted', () => {
                this.$toasted.clear()
                this.$toasted.show(`Customer Deleted`)
            })
            window.events.$on('customer-created', (customer) => {
                this.$toasted.clear()
                this.$toasted.success(`Registered ${customer.name}`)
            })
            window.events.$on('customer-updated', (customer) => {
                this.$toasted.clear()
                this.$toasted.success(`Updated ${customer.name}`)
            })
        },

        computed: {
            ...mapState({
                customers: state => state.customers.all,
            }),
        },

        methods: {
            ...mapActions('customers', ['getAllCustomers']),
        },
    }
</script>
