<template>
    <div>
        <p class="text-sm">
            <router-link :to="{name:'customers'}">Back To Customers</router-link>
        </p>
        <div class="card">
            <customer :customer=customer :hide="['invoices']"></customer>
        </div>
        <div v-if="customer.invoices.length">
            <div class="text-grey-dark w-full overflow-hidden mt-6 font-normal text-base block">
                Invoices
            </div>
            <div class="card">
                <div class="w-full flex text-xs uppercase text-grey border-b border-grey-lighter px-4">
                    <div class="pl-2 py-4 w-1/2 md:w-1/5 mr-1">Invoice Number</div>
                    <div class="py-4 w-1/6 ml-auto">Amount</div>
                    <div class="py-4 w-1/6">Date</div>
                </div>
                <div class="card-body p-4">
                    <invoice v-for="invoice in customer.invoices"
                             :invoice="invoice"
                             :hide="['customer']"
                             :key="invoice.id">
                    </invoice>
                </div>
            </div>
        </div>
        <main v-else class="mt-8 text-center message message--info">
            <p class="text-xl mb-2">Customer has No Invoices</p>
        </main>

    </div>
</template>

<script>
    import {Customer} from '@/components'
    import {Invoice} from '@/components'

    import {mapGetters} from 'vuex'

    export default {
        name: 'ShowCustomer',
        components: {
            Customer,
            Invoice,
        },
        data() {
            return {
                customer: null,
            }
        },
        created() {
            this.$watch('$route', () => {
                this.customer = this.findCustomer(this.$router.currentRoute.params.id)
            })
            this.customer = this.findCustomer(this.$router.currentRoute.params.id)
        },

        computed: {
            ...mapGetters('customers', ['findCustomer']),
        },
    }
</script>
