<template>
    <div class="w-full bg-white shadow bg-white flex">
        <div class="container flex mx-auto max-w-lg items-center">
            <ul class="list-reset flex overflow-hidden h-14 ">
                <li class="mr-2">
                    <router-link :to="{name:'reports'}" exact
                                 class="h-full bg-white px-4 block py-4 text-grey-dark">Reports
                    </router-link>
                </li>
                <li class="mr-2">
                    <router-link :to="{name:'invoices'}"
                                 class="h-full bg-white px-4 block py-4 text-grey-dark">Invoices
                    </router-link>
                </li>
                <li class="mr-2">
                    <router-link :to="{name:'products'}"
                                 class="h-full bg-white px-4 block py-4 text-grey-dark">Products
                    </router-link>
                </li>
                <li class="mr-2">
                    <router-link :to="{name:'customers'}"
                                 class="h-full bg-white px-4 block py-4 text-grey-dark">Customers
                    </router-link>
                </li>
            </ul>
            <button v-show="buttonName"
                    @click.prevent="openCreateForm"
                    class="button button-sm ml-auto ">Add {{buttonName}}
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AppMenu',
        computed: {
            buttonName() {
                let entities = ['products', 'customers', 'invoices']

                if (entities.includes(this.$route.name)) {
                    return this.$route.name.slice(0, -1)
                }
                return null
            },
        },
        methods:{
            openCreateForm(){
                this.$router.push({'name': `${this.$route.name}-create`})
            }
        }
    }
</script>

<style lang="less" scoped>
    .router-link-active {
        @apply border-b-2 border-secondary text-primary font-bold;
    }
</style>