<template>
    <div class="w-screen bg-primary h-16 ">
        <div class="container flex h-full items-center justify-between">
            <div class="w-1/4">
                <a href="/">
                    <img src="@/assets/images/future-link-logo.png"
                         width="128"
                         height="40"
                         alt="future link logo">
                </a>
            </div>
            <div class="w-2/5 relative">
                <input type="search"
                       v-model="query"
                       placeholder="Search..."
                       class="search__input">
                <button class="search__input--button" @click="query=''">
                    <img src="@/assets/svg/x-circle.svg" alt="user icon">
                </button>
            </div>
            <div class="w-1/4">
                <span class="float-right mt-2 text-primary-lightest">Megane Gleason</span>
                <span class="float-right inline-block w-8 h-8 rounded-full p-2 mr-2 bg-primary-lightest">
                    <img src="@/assets/svg/user.svg" alt="user icon">
                </span>
            </div>
        </div>

        <div class="search-results" v-if="showResults">
            <div class="container max-w-sm">

                <!--customer-results-->
                <div v-if="filteredCustomers.length">
                    <h1 class="search-results__title">customers</h1>
                    <div class="search-results__items">
                        <div class="search-results__item"
                             :key="customer.id"
                             v-for="customer in filteredCustomers">

                            <a href="#"
                               class="search-results__item--icon"
                               @click.prevent="selectItem({name: 'customers-show', params:{id: customer.id}})">
                                <img src="@/assets/svg/user.svg" class="opacity-50" alt="user icon">
                            </a>

                            <a href="#" class="font-bold"
                               @click.prevent="selectItem({name: 'customers-show', params:{id: customer.id}})">
                                {{customer.name}}
                            </a>

                            <div class="action">
                                <button class="button text-xs">Create Invoice</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--invoice results-->
                <div v-if="filteredInvoices.length">
                    <h1 class="search-results__title">invoices</h1>
                    <div class="search-results__items">
                        <div class="search-results__item"
                             :key="invoice.id"
                             v-for="invoice in filteredInvoices">
                            <a href="" class="search-results__item--icon">
                                <img src="@/assets/svg/file-text.svg" class="opacity-50" alt="invoice icon">
                            </a>
                            <a href="" class="font-bold">{{invoice.invoice_no}}</a>
                        </div>
                    </div>
                </div>

                <!--product results-->
                <div v-if="filteredProducts.length">
                    <h1 class="search-results__title">products</h1>
                    <div class="search-results__item"
                         :key="product.id"
                         v-for="product in filteredProducts">
                        <a href=""
                           class="h-8 w-8 rounded-full bg-grey-light p-2 text-sm uppercase text-primary-lighter mr-1">
                            <img src="@/assets/svg/file-text.svg" class="opacity-50" alt="invoice icon">
                        </a>
                        <a href="" class="font-bold">{{product.product_name}}</a>
                        <div class="ml-auto action">
                            <button class="button text-xs">Create Invoice</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: 'AppSearch',
        data() {
            return {
                query: '',
            }
        },

        computed: {
            showResults() {
                return this.filteredCustomers.length || this.filteredInvoices.length || this.filteredProducts.length
            },
            filteredCustomers() {
                return this.filter(this.customers)
            },
            filteredInvoices() {
                return this.filter(this.invoices)
            },
            filteredProducts() {
                return this.filter(this.products)
            },
            ...mapState({
                customers: state => state.customers.all,
                invoices: state => state.invoices.all,
                products: state => state.products.all,
            }),
        },

        methods: {
            selectItem(params) {
                this.query = ''
                this.$router.push(params)
            },
            filter(items) {
                if (this.query.length < 3) {
                    return []
                }
                return items.filter((row) => {
                    return Object.keys(row).some((key) => {
                        return String(row[key]).toLowerCase().indexOf(this.query.toLowerCase()) > -1
                    })
                })
            },
        },
    }
</script>

<style lang="less" scoped>
    .search__input {
        @apply outline-none border-none rounded-full w-full px-4 py-2 bg-primary-lightest opacity-50;

        &--button {
        @apply absolute pin-r rounded-full py-1 text-primary-lightest px-2 opacity-50;

            &:focus, &:active {
                outline: none;
            }
        }
    }

    .search-results {
    @apply bg-white z-50 w-screen overflow-y-scroll fixed;
        opacity: .95;
        height: 100vh;

        &__title {
        @apply font-normal text-sm uppercase text-grey-dark mt-8 mb-2;
        }

        &__item {
        @apply flex items-center p-2 rounded;

            .action {
            @apply hidden ml-auto;
            }

            &--icon {
            @apply h-8 w-8 rounded-full bg-grey-light p-2 text-sm uppercase text-primary-lighter mr-1;
            }

            &:hover {
            @apply bg-secondary-lightest;

                .action {
                @apply block;
                }
            }

        }
    }
</style>