<template>
    <div class="w-screen">
        <app-search></app-search>
        <app-menu></app-menu>
    </div>
</template>

<script>
    import AppMenu from './AppMenu'
    import AppSearch from './AppSearch'
    export default {
        components: {
            AppSearch,
            AppMenu
        }
    }
</script>
