<template>
    <div>
        <div class="flex flex-wrap">
            <div class="card flex flex-1 p-6">
                <div class="w-1/3 pr-4 mr-4 border-grey-lighter border-r">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="w-6 current-fill text-grey-light float-right">
                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                        <polyline points="14 2 14 8 20 8"></polyline>
                        <line x1="16" y1="13" x2="8" y2="13"></line>
                        <line x1="16" y1="17" x2="8" y2="17"></line>
                        <polyline points="10 9 9 9 8 9"></polyline>
                    </svg>
                    <h1 class="p-0 m-0 font-normal text-4xl">{{invoicesCount}}</h1>
                    <router-link :to="{name:'invoices'}">INVOICES</router-link>
                </div>

                <div class="w-1/3 pr-4 mr-4 border-grey-lighter border-r">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="w-6 current-fill text-grey-light float-right">
                        <path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path>
                        <polyline points="2.32 6.16 12 11 21.68 6.16"></polyline>
                        <line x1="12" y1="22.76" x2="12" y2="11"></line>
                    </svg>
                    <h1 class="p-0 m-0 font-normal text-4xl">{{productsCount}}</h1>
                    <router-link :to="{name:'products'}">PRODUCTS</router-link>
                </div>

                <div class="w-1/3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="w-6 current-fill text-grey-light float-right">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    <h1 class="p-0 m-0 font-normal text-4xl">{{customersCount}}</h1>
                    <router-link :to="{name:'customers'}">CUSTOMERS</router-link>
                </div>
            </div>
            <!--<div class="card w-full mt-6 md:mt-0 md:w-1/4 p-6">-->
            <!--<div class="w-full">-->
            <!--<h1 class="p-0 m-0 font-normal text-4xl">100,000</h1>-->
            <!--<a href="" class="text-xs uppercase">TOTAL Amount (UGX)</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="text-grey-dark w-full overflow-hidden mt-8 font-normal text-base block">
            Recent Invoices
        </div>
        <div class="card">
            <div class="w-full flex text-xs uppercase text-grey border-b border-grey-lighter px-4">
                <div class="pl-2 py-4 w-1/2 md:w-1/5 mr-1">Invoice Number</div>
                <div class="py-4 flex-1">Client</div>
                <div class="py-4 w-1/6">Amount</div>
                <div class="py-4 w-1/6">Date</div>
            </div>
            <div class="card-body p-4">
                <invoice v-for="invoice in latestInvoices"
                         :invoice="invoice"
                         :key="invoice.id">
                </invoice>
            </div>
        </div>
    </div>

</template>

<script>
    import {Invoice} from '../components'
    import {mapGetters, mapState} from 'vuex'

    export default {
        name: 'Report',
        components: {
            Invoice,
        },

        computed: {
            ...mapGetters('invoices', ['latestInvoices', 'invoices']),
            ...mapState({
                customersCount: state => state.customers.all.length,
                invoicesCount: state => state.invoices.all.length,
                productsCount: state => state.products.all.length,
            }),
        },
    }
</script>
