<template>
    <div class="group__item">
        <router-link
                class="py-4 w-2/5 flex items-center"
                :to="{name:'customers-show', params: {id:customer.id}}">
            <div class="bg-grey-lighter rounded mr-2 w-10 h-10 border">
                <img :src="customer.avatar"
                     class="w-10 rounded current-fill text-primary-lighter float-right"
                     :alt="customer.name">
            </div>
            <span class="font-bold">{{customer.name}}</span>
        </router-link>

        <div class="py-4 w-1/5 text-center" v-show="hideThisColumn('invoices')">
            {{customer.invoices.length}}
        </div>

        <div class="py-4 w-2/5 hide-for-menu ml-auto">{{customer.address}}</div>

        <div class="group__item--menu">
            <router-link :to="{name:'customers-edit', params: { id: customer.id }}"
                         class="p-2 mr-1">Edit
            </router-link>
            <a href="#"
               @click.prevent="deleteCustomer(customer)"
               class="p-2 mr-2">Delete</a>
            <a href="" class="p-2 rounded bg-primary-lightest text-primary">Create Invoice</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            customer: {
                required: true,
                type: Object,
            },
            hide: {
                required: false,
                type: Array,
            },
        },
        methods: {
            deleteCustomer(customer) {
                this.$store.dispatch('customers/deleteCustomer', customer.id)
            },
            hideThisColumn(name) {
                if(this.hide === undefined){
                    return true
                }
                return !this.hide.includes(name)
            },
        },
    }
</script>