<template>
    <div class="group__item">
        <router-link :to="{name: 'invoices-show', params:{id: invoice.id}}"
                     class="py-4 w-1/2 md:w-1/5 flex items-center">
            <div class="p-2 bg-grey-lighter rounded-full mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="w-6 current-fill text-primary-lighter float-right">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="16" y1="13" x2="8" y2="13"></line>
                    <line x1="16" y1="17" x2="8" y2="17"></line>
                    <polyline points="10 9 9 9 8 9"></polyline>
                </svg>
            </div>
            <span class="font-bold">{{invoice.invoice_no}}</span>
        </router-link>
        <div class="py-4 flex-1"
             v-if="hideThisColumn('customer')">
            <router-link :to="{name: 'customers-show', params:{id:customer.id}}">
                {{customer.name}}
            </router-link>
        </div>
        <div class="py-4 w-1/6 hide-for-menu ml-auto"><strong>UGX</strong> {{totalPrice(invoice)}}</div>
        <div class="py-4 w-1/6 hide-for-menu">{{invoice.createdAt | humanDate}}</div>
        <div class="group__item--menu">
            <router-link class="p-2 mr-2"
                         :to="{name:'invoices-edit', params:{id:invoice.id}}">Edit</router-link>
            <button @click="deleteInvoice(invoice)"
                    class="button button-sm">Delete
            </button>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        props: {
            invoice: {
                required: true,
                type: Object,
            },
            hide: {
                required: false,
                type: Array,
            },
        },

        computed: {
            ...mapGetters('invoices', ['totalPrice']),
            ...mapGetters('customers', ['findCustomer']),
            customer() {
                return this.findCustomer(this.invoice.customerId)
            },
        },

        methods: {
            ...mapActions('invoices', ['deleteInvoice']),

            hideThisColumn(name) {
                if (this.hide === undefined) {
                    return true
                }
                return !this.hide.includes(name)
            },
        },
    }
</script>