<template>
    <transition leave-active-class="faster animated fadeOut">
        <div class="group__item">
            <div class="py-4 w-3/5 flex items-center">
                <div class="bg-grey-lighter rounded mr-2 w-10 h-10 border">
                    <img :src="product.img"
                         class="w-10 rounded current-fill text-primary-lighter float-right"
                         :alt="product.name">
                </div>
                <span class="font-bold">{{product.product_name}}</span>
            </div>
            <div class="py-4 flex-1">UGX <strong>{{product.product_price}}</strong></div>
            <div class="group__item--menu">
                <router-link :to="{name: 'products-edit', params:{id:product.id}}"
                             class="p-2 mr-1">Edit
                </router-link>
                <button @click.prevent="deleteProduct(product.id)"
                        class="button-sm button">Delete
                </button>
            </div>
        </div>
    </transition>

</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        props: {
            product: {
                required: true,
                type: Object,
            },
        },

        methods: {
            ...mapActions('products', ['deleteProduct']),
        },
    }
</script>
