.button {
    @apply rounded py-2 px-4 shadow bg-primary-lightest text-primary outline-none;

    &:hover {
        @apply shadow-md;
    }

    &:active, &:focus{
        @apply shadow-none outline-none;
    }

    &--primary {
        @apply bg-primary text-white;
    }

    &--light{
        @apply bg-white text-primary;
    }
    &--link{
        @apply bg-transparent shadow-none text-primary;
        &:hover{
            @apply shadow-none;
        }
    }

    &.button-sm {
        @apply text-sm;
    }
    &[disabled]{
        @apply shadow-none bg-grey text-grey-dark;
        &:hover{
            @apply shadow-none;
        }
    }
}