.card {
    @apply rounded shadow bg-white mt-4;

    .card-header, .card-footer{
        @apply bg-grey-lightest p-4 font-medium border-grey-lighter text-base ;
    }
    .card-header{
        @apply border-b rounded-t;
    }
    .card-body{
        @apply p-4;
    }
    .card-footer{
        @apply  border-t rounded-b;
    }
}