.input-group {
    @apply mt-6;

    label {
        @apply text-grey-dark;
    }
}

.input-with-icon {
    @apply relative mt-2;

    .input {
        @apply pl-8 mt-0;
    }

    .fe {
        @apply absolute w-4 mt-3 ml-3;
    }
}

.input {
    @apply border w-full bg-grey-lightest py-3 px-2 rounded mt-2;

    &.is-invalid {
        @apply border-red-light;
    }

    &:focus {
        @apply outline-none bg-white border-primary-lighter;
    }
}

select.input {
    @apply h-12;
}

.input-invalid {
    @apply text-red-dark font-medium mt-1 inline-block text-sm;
}

.input.input-flat {
    @apply appearance-none mt-4 bg-transparent text-grey-darker py-2 border-b border-grey-darker;

    &:hover {
        @apply outline-none border-purple-dark;
    }
}
