.group__item {
@apply flex items-center text-grey-dark relative rounded pl-2 border-b border-grey-lighter;
    &:last-of-type{
    @apply border-none;
    }
    &--image {
    @apply bg-grey-lighter rounded-full mr-2;
    }

    &--client {
    @apply flex-1 hidden;
    }

    &--menu {
    @apply absolute pin-r flex h-full items-center hidden pr-4;
    }


    &:hover {
        @apply bg-secondary-lightest;

        .hide-for-menu {
        @apply hidden;
        }

        .group__item--menu {
        @apply flex;
        }
    }
}