.message{
    @apply rounded border-2 p-4 border-grey-light bg-grey-lightest;
    &--primary{
        @apply bg-primary-lightest text-primary border-primary-lighter;
    }
    &--danger{
        @apply bg-red-lightest text-red-dark border-red-lighter;
    }
    &--info{
        @apply bg-blue-lightest text-blue border-blue-lighter;
    }
}