<template>
    <div id="app">
        <ui-loader></ui-loader>

        <the-header></the-header>

        <div class="container max-w-lg pt-4">
            <transition enter-active-class="faster animated fadeIn">
                <router-view/>
            </transition>
        </div>

    </div>
</template>
<script>
    import {TheHeader} from './components'
    import {UiLoader} from './components'
    import {mapState} from 'vuex'

    export default {
        components: {
            TheHeader,
            UiLoader,
        },

        computed: mapState({
            products: state => state.products.all,
            customers: state => state.customers.all,
            invoices: state => state.invoices.all,
        }),

        created() {
            if (this.customers.length === 0) {
                this.$store.dispatch('customers/getAllCustomers').
                    then(() => {
                        this.$store.dispatch('invoices/getAllInvoices')
                    })
            }
            if (this.products.length === 0) {
                this.$store.dispatch('products/getAllProducts')
            }
        },
    }
</script>

