<template>
    <div class="loader" v-show="loading"></div>
</template>

<script>
    export default {
        data() {
            return {
                loading: false,
            }
        },
        created() {
            window.events.$on('start-loader', this.startLoading)
            window.events.$on('stop-loader', this.stopLoading)
        },
        methods: {
            startLoading() {
                this.loading = true
            },
            stopLoading() {
                this.loading = false
            },
        },
    }
</script>

<style lang="less" scoped>
    .loader {
        @apply fixed pin-t pin-r bg-primary-lightest w-full;
        height: 2px;
        overflow: hidden;
    }

    .loader:before {
        @apply block absolute bg-secondary;
        content: "";
        left: -200px;
        width: 200px;
        height: 2px;
        animation: loading 2s linear infinite;
    }

    @keyframes loading {
        from {
            left: -200px;
            width: 30%;
        }
        50% {
            width: 30%;
        }
        70% {
            width: 70%;
        }
        80% {
            left: 50%;
        }
        95% {
            left: 120%;
        }
        to {
            left: 100%;
        }
    }

</style>