<template>
    <div>
        <slot :listItems="paginatedData"></slot>
        <div class="flex w-full py-4 justify-center"
             v-if="listData.length && listData.length > 10">
            <button :disabled="pageNumber === 0"
                    @click="prevPage" class="button button-sm mr-4">Previous
            </button>
            <button :disabled="pageNumber >= pageCount -1"
                    @click="nextPage" class="button button-sm">Next
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Paginate',
        props: {
            listData: {
                type: Array,
                required: true,
            },
            size: {
                type: Number,
                required: false,
                default: 10,
            },
        },
        data() {
            return {
                pageNumber: 0,
            }
        },
        methods: {
            nextPage() {
                this.pageNumber++
            },
            prevPage() {
                this.pageNumber--
            },
        },
        computed: {
            pageCount() {
                let l = this.listData.length,
                    s = this.size
                return Math.floor(l / s)
            },
            paginatedData() {
                const start = this.pageNumber * this.size,
                    end = start + this.size
                return this.listData.slice(start, end)
            },
        },
    }
</script>